/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		RESET STYLES
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	
	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}:focus{outline:0}body{line-height:1;color:black;background:white}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,th,td{text-align:left;font-weight:normal}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:""""}




/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		FONT FACE EMBEDDING
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
		
	@font-face {
		font-family: 'Mido';
		src: local('Mido'), local('Mido'), 
	         url('http://static.tumblr.com/ttz4bff/Sn3ks9htr/mido.otf') format('opentype');
		}
		
		

/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		BODY, WRAPPINGS, ANCHORS, anything sitewide
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	
	html { background: #D4D4D4; }
	
	body {
		padding: 50px;
		background: #D4D4D4;
		}
		
		a { text-decoration: none; }
		



/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		HEADER
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

	h1 {
		font-family: 'Mido', Georgia, Times, serif;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 40px;
		text-shadow: #fff 1px 1px 0;
		margin: 0 0 6px 0;
		}
		
		h1 a { color: #222; }
		
			h1 a:hover { color: #1F3056; }
		
		#header p {
			font-family: Georgia, Times, serif;
			font-weight: normal;
			font-size: 15px;
			text-shadow: #fff 1px 1px 0;
			color: #333;
			margin: 0 0 50px 0;
			}
			
			#header p span { 
				font-family: Helvetica, Verdana, sans-serif;
				font-weight: bold;	
				font-size: 0.9em;
				}
				
				#header p span span { 
					color: #666;
					margin: 0 2px;
					}
				
			#header p a { color: #666; }
			
				#header p a:hover { color: #000; }




/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		WALLPAPER
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	
	#content {
		width: 100%;
		overflow: hidden;
		padding: 10px 0 0 0;
		margin: 0 0 20px 0;
		}
		
		.post {
			position: relative;
			float: left;
			margin: 0 50px 50px 0;
			width: 310px;
			height: 220px;
			}
		
			.post a img {
				position: relative;
				border: 5px solid #222;
				border-bottom: 5px solid #222;
				width: 300px;
				height: 187px;
				}
		
			.post .attribution, .post .permalink {
				width: 245px;
				font-size: 12px;
				font-style: italic;
				text-shadow: #fff 1px 1px 0;
				letter-spacing: 0.1em;
				color: #333;
				margin-top: 5px;
				}
			
				.post .attribution a, .post .permalink a { 
					color: #004080;
					font-family: 'Mido', Georgia, Times, serif;	
					text-transform: uppercase;
					font-style: normal;
					}
				
					.post .attribution a:hover { color: #000; }
		
				.post .attribution {
					float: right;
					text-align: right;
					margin-right: 3px;
					}
		
				.post .permalink {
					float: left;
					margin: 3px;
					font-family: Helvetica, Verdana, sans-serif;
					font-weight: bold;	
					font-size: 13px;
					display: none;
					}
		
			
		
	
/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		NAVIGATION
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */	
	
	#navigation {
		margin-bottom: 70px;
		}
	
		#navigation a {
			background: #BCBCBC;
			font-family: 'Mido', Georgia, Times, serif;	
			font-weight: normal;
			font-size: 14px;
			text-transform: uppercase;
			text-shadow: #D2D2D2 1px 1px 0;
			color: #000;
			padding: 8px 10px;
			border: 1px solid #BCBCBC;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			line-height: 1em;
			color: #222;
			}
			
			#navigation a:hover {
				background: #B5B5B5;
				}
		
			#navigation a span {
				font-family: Helvetica, sans-serif;	
				font-weight: bold;
				}
		
			#navigation #nav-newer {
				margin-left: 20px;
				}
	
	
	
/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		FOOTER
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	
	#footer {
		font-family: Georgia, Times, serif;
		font-weight: normal;
		font-size: 15px;
		text-shadow: #fff 1px 1px 0;
		color: #333;
		margin: 0 0 30px 0;
		}
		
		#footer a.site {
			font-family: 'Mido', Georgia, Times, serif;
			text-transform: uppercase;
			}
		
		#footer a { color: #666; }
	
			#footer a:hover { color: #000; }
	
	
	
	






