/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		RESET STYLES
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	
	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}:focus{outline:0}body{line-height:1;color:black;background:white}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,th,td{text-align:left;font-weight:normal}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:""""}




/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		FONT FACE EMBEDDING
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
		
	@font-face {
		font-family: 'Chunk';
		src: local('Chunk'), local('Chunk'), 
	         url('http://static.tumblr.com/ttz4bff/12zl58jax/chunk.otf') format('opentype');
		}
		
		

/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		BODY, WRAPPINGS, ANCHORS, anything sitewide
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	
	html { background: #D4D4D4; }
	
	body {
		width: 760px;
		margin: 50px;
		background: #D4D4D4;
		}
		
		a { text-decoration: none; }

		#header h2,
		#header h3,
		#header p,
		#navigation a,
		#footer,
		.notes,
		.text {
			font-family: "Helvetica Neue", Helvetica, sans-serif;
			font-weight: bold;
			}


/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		HEADER
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

	#header {
		float: right;
		width: 220px;
		}

		h1 {
			font-family: 'Chunk', Georgia, Times, serif;
			word-spacing: 100px;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 50px;
			text-shadow: #fff 1px 1px 0;
			margin: 0 0 30px 0;
			}
		
			h1 a, #footer a { color: #111; }
		
				h1 a:hover, #footer a:hover { color: #1F3056; }
		
			#header p {
				font-size: 16px;
				line-height: 1.4em;
				text-shadow: #fff 1px 1px 0;
				color: #111;
				margin: 0 0 50px 0;
				}
				
				#header p span { display: block; }

				#header p a, #header h3 a { color: #004080; }
			
					#header p a:hover,  #header h3 a:hover { color: #000; }
		
		#header h2 {
			font-size: 18px;
			margin: 0 0 10px 0;
			}
			
			#header ul.colours { 
				margin: 0 0 50px 0;
				width: 203px;
				overflow: hidden;
				opacity: 0.7;
				}
				
				#header ul.colours:hover { opacity: 1; }
				
				#header ul.colours li {
					width: 20px;
					float: left;
					}
			
					#header ul.colours li a {
						display: block;
						text-indent: -9999px;
						width: 100%;
						height: 15px;
						border-top: 3px solid #000;
						border-bottom: 3px solid #000;
						}
						
						#header ul.colours li:first-child a {
							border-left: 3px solid #000;
							-webkit-border-top-left-radius: 6px;
							-webkit-border-bottom-left-radius: 6px;
							-moz-border-radius-topleft: 6px;
							-moz-border-radius-bottomleft: 6px;
							border-top-left-radius: 6px;
							border-bottom-left-radius: 6px;
							}
						
						#header ul.colours li:last-child a {
							border-right: 3px solid #000;
							-webkit-border-top-right-radius: 6px;
							-webkit-border-bottom-right-radius: 6px;
							-moz-border-radius-topright: 6px;
							-moz-border-radius-bottomright: 6px;
							border-top-right-radius: 6px;
							border-bottom-right-radius: 6px;
							}
					
						#header ul.colours li.black a { background: #222; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#000)); }
						#header ul.colours li.white a { background: #EEE; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#666)); }
						#header ul.colours li.brown a { background: #5F392D; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5F392D), to(#301D17)); }
						#header ul.colours li.yellow a { background: #E5D81C; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E5D81C), to(#7B740F)); }
						#header ul.colours li.orange a { background: #CB4A0B; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CB4A0B), to(#712906)); }
						#header ul.colours li.red a { background: #B10D01; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B10D01), to(#670700)); }
						#header ul.colours li.pink a { background: #D557AA; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D557AA), to(#6B2B59)); }
						#header ul.colours li.purple a { background: #993399; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#993399), to(#431645)); }
						#header ul.colours li.blue a { background: #1F4AA2; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1F4AA2), to(#0B1F49)); }
						#header ul.colours li.green a { background: #0AA224; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0AA224), to(#044910)); }
						
						#header ul.colours li.black a:hover { background: #222; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(#444)); }
						#header ul.colours li.white a:hover { background: #EEE; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#EEE)); }
						#header ul.colours li.brown a:hover { background: #5F392D; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#301D17), to(#5F392D)); }
						#header ul.colours li.yellow a:hover { background: #E5D81C; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7B740F), to(#E5D81C)); }
						#header ul.colours li.orange a:hover { background: #CB4A0B; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#712906), to(#CB4A0B)); }
						#header ul.colours li.red a:hover { background: #B10D01; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#670700), to(#B10D01)); }
						#header ul.colours li.pink a:hover { background: #D557AA; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6B2B59), to(#D557AA)); }
						#header ul.colours li.purple a:hover { background: #993399; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#431645), to(#993399)); }
						#header ul.colours li.blue a:hover { background: #1F4AA2; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0B1F49), to(#1F4AA2)); }
						#header ul.colours li.green a:hover { background: #0AA224; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#044910), to(#0AA224)); }

			#header ul.styles { 
				padding: 5px 0 0 0;
				margin: 0 0 50px 0;
				width: 100%;	
				overflow: hidden;
				}

				#header ul.styles li {
					float: left;
					font-family: Consolas, Menlo, Monaco, Courier, monospace;
					font-size: 11px;
					margin: 0 0 10px 0;
					}
				
					body #header ul.styles li a {
						background: #B3B3B3;
						border: 1px solid #B3B3B3;
						color: #000;
						}
					
						body #header ul.styles li a:hover {
							background: #999;
							border: 1px solid #999;
							}
			
					#header h3 { font-size: 18px; }
					
					

/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
			WALLPAPER
		++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	
	#content {
		width: 510px;
		float: left;
		margin: 0 0 50px 0;
		overflow: hidden;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: bold;
		font-size: 13px;
		}
		
		.post { margin: 0 0 30px 0; }
		
			.post a.link {
				display: block;
				border: 5px solid #000;
				line-height: 0.5em;
				}
			
			.post .meta {
				background: #999;
				padding: 7px;
				border: 1px solid #999;
				-webkit-border-bottom-right-radius: 10px;
				-moz-border-radius-bottomright: 10px;
				border-bottom-right-radius: 10px;
				position: relative;
				width: 496px;
				overflow: hidden;
				}
				
				.post .meta .attribution { margin-top: 1px; }
				
					.post .meta .attribution a:hover { color: #000; }
				
				.post .meta a { color: #333; }
					
				.post .meta .permalink a { 
						display: block;
						color: #999;
						background: #666;
						border: 1px solid #666;
						-webkit-border-radius: 3px;
						-moz-border-radius: 3px;
						border-radius: 3px;
						padding: 0 3px 2px 3px;
						margin: 0 7px 0 0;
						float: left;
						font-family: Georgia, Times, serif;
						font-size: 15px;
						}
						
						.post .meta .permalink a:hover {
							color: #FFF;
							background: #444;
							border: 1px solid #444;
							}
				
				.post .meta .more {
					color: #666;
					position: absolute;
					top: 11px;
					right: 10px;
					font-family: Consolas, Menlo, Monaco, Courier, monospace;
					font-weight: normal;
					font-size: 10px;
					}
					
					.post .meta .more a,
					#header ul.styles li a {
						color: #333;
						background: #888;
						border: 1px solid #888;
						-webkit-border-radius: 10px;
						-moz-border-radius: 10px;
						border-radius: 8px;
						padding: 1px 6px;
						margin: 0 0 0 3px;
						}
						
						.post .meta .more a:hover,
						#header ul.styles li a:hover {
							background: #777;
							border: 1px solid #777;
							color: #000;
							}
		
			
		
	
/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		NAVIGATION
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */	
	
	#navigation {
		width: 500px;
		margin-bottom: 80px;
		float: left;
		}
	
		#navigation a {
			background: #333;
			font-size: 14px;
			text-transform: uppercase;
			padding: 8px 10px;
			border: 1px solid #333;
			-moz-border-radius: 8px;
			-webkit-border-radius: 8px;
			border-radius: 8px;
			line-height: 1em;
			color: #CCC;
			}
			
			#navigation a:hover {
				background: #555;
				border: 1px solid #555;
				}
		
			#navigation #nav-newer { margin-left: 20px; }
	
	
/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		TEXT POST for the SUBMIT PAGE
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	
	.text { width: 100%; overflow: hidden; }
	
	.text h2 {
		font-family: Helvetica, Arial, serif;
		font-weight: bold;
		font-size: 22px;
		margin: 0 0 10px 0;
		}
	
	.text p {
		font-size: 14px;
		line-height: 1.6em;
		margin: 0 0 20px 0;
		}
	

/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
			NOTES
		++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

	.notes {
		clear: left;
		line-height: 1.5em;
		font-size: 13px;
		margin: 20px 0 50px 0;
		color: #464646;
		opacity: 0.9;
		}
		
		.notes:hover { opacity: 1; }
	
		.notes li { margin: 0 0 10px 0; }
	
		.notes a { color: #004080; }
	
			.notes a:hover { border-bottom: 1px solid #004080; }
	
		.notes img {
			border: 1px solid #000;
			position: relative;
			top: 5px;
			}
		
		.notes blockquote {
			margin: 10px 0 0 25px;
			border-left: 1px solid #BABABA;
			padding: 0 0 0 10px;
			font-style: italic;
			color: #828282;
			}
		
			.notes blockquote a { color: #3B7CB6; }
		
				.notes blockquote a:hover { border-bottom: 1px solid #3B7CB6; }
	
	
	
/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		FOOTER
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	
	#footer {
		font-size: 16px;
		text-shadow: #fff 1px 1px 0;
		color: #111;
		margin: 0 0 30px 0;
		width: 500px;
		float: left;
		}
		
		#footer a {
			font-size: 18px;
			font-family: 'Chunk', Georgia, Times, serif;
			text-transform: uppercase;
			}
