/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		RESET STYLES
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: """"; }

/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
			FONT FACE EMBEDDING
		++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@font-face {
  font-family: 'Chunk';
  src: local("Chunk"), local("Chunk"), url("http://static.tumblr.com/ttz4bff/12zl58jax/chunk.otf") format("opentype"); }

/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
			MIXINS
		++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
			BODY, WRAPPINGS, ANCHORS, anything sitewide
		++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
html {
  background: #d4d4d4 url(noise.png); }
  html body {
    width: 1000px;
    margin: 100px auto;
    background: none; }
    html body a {
      text-decoration: none; }
  html #header h2,
  html #header h3,
  html #header p,
  html #navigation a,
  html #footer,
  html .notes,
  html .text {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold; }

/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
			HEADER
		++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#header {
  width: 100%;
  overflow: hidden;
  margin: 0 0 140px 0; }
  #header h1 {
    font-family: 'Chunk', Georgia, Times, serif;
    font-weight: bold;
    font-size: 60px;
    text-transform: uppercase;
    text-shadow: #fff 1px 1px 0; }
    #header h1 a {
      color: #111; }
    #header h1 a:hover {
      color: #1F3056; }
  #header p {
    font-size: 22px;
    line-height: 1.4em;
    text-shadow: #fff 1px 1px 0;
    color: #111;
    margin: 0 0 30px 0; }
    #header p span {
      display: block; }
    #header p a {
      color: #004080; }
    #header p a:hover {
      color: #000; }
  #header h2 {
    margin-bottom: 10px; }
  #header .styles-holder {
    float: left;
    width: 310px;
    margin: 0 30px 0 0; }
    #header .styles-holder ul.styles {
      padding: 5px 0 0 0;
      width: 100%;
      overflow: hidden; }
      #header .styles-holder ul.styles li {
        float: left;
        margin: 0 0 10px 0; }
        #header .styles-holder ul.styles li a {
          font-family: Consolas, Menlo, Monaco, Courier, monospace;
          font-weight: normal;
          font-size: 13px;
          color: #000;
          background: #B3B3B3;
          border: 1px solid #B3B3B3;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 8px;
          padding: 1px 6px;
          margin: 0 0 0 3px;
          text-shadow: #bbb 0 1px 0; }
          #header .styles-holder ul.styles li a:hover {
            background: #999;
            border: 1px solid #999;
            color: #000; }
  #header .colours-holder ul.colours {
    margin: 0 0 50px 0;
    width: 403px;
    overflow: hidden; }
    #header .colours-holder ul.colours li {
      width: 40px;
      float: left; }
      #header .colours-holder ul.colours li a {
        display: block;
        text-indent: -9999px;
        width: 100%;
        height: 15px;
        border-top: 3px solid #000;
        border-bottom: 3px solid #000; }
      #header .colours-holder ul.colours li:first-child a {
        border-left: 3px solid #000;
        -webkit-border-top-left-radius: 6px;
        -webkit-border-bottom-left-radius: 6px;
        -moz-border-radius-topleft: 6px;
        -moz-border-radius-bottomleft: 6px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px; }
      #header .colours-holder ul.colours li:last-child a {
        border-right: 3px solid #000;
        -webkit-border-top-right-radius: 6px;
        -webkit-border-bottom-right-radius: 6px;
        -moz-border-radius-topright: 6px;
        -moz-border-radius-bottomright: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px; }
      #header .colours-holder ul.colours li.black a {
        background: #222;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444444), to(black)); }
      #header .colours-holder ul.colours li.white a {
        background: #EEE;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#666666)); }
      #header .colours-holder ul.colours li.brown a {
        background: #5F392D;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5f392d), to(#301d17)); }
      #header .colours-holder ul.colours li.yellow a {
        background: #E5D81C;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e5d81c), to(#7b740f)); }
      #header .colours-holder ul.colours li.orange a {
        background: #CB4A0B;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cb4a0b), to(#712906)); }
      #header .colours-holder ul.colours li.red a {
        background: #B10D01;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b10d01), to(#670700)); }
      #header .colours-holder ul.colours li.pink a {
        background: #D557AA;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d557aa), to(#6b2b59)); }
      #header .colours-holder ul.colours li.purple a {
        background: #993399;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#993399), to(#431645)); }
      #header .colours-holder ul.colours li.blue a {
        background: #1F4AA2;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1f4aa2), to(#0b1f49)); }
      #header .colours-holder ul.colours li.green a {
        background: #0AA224;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0aa224), to(#044910)); }
      #header .colours-holder ul.colours li.black a:hover {
        background: #222;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(black), to(#444444)); }
      #header .colours-holder ul.colours li.white a:hover {
        background: #EEE;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#eeeeee)); }
      #header .colours-holder ul.colours li.brown a:hover {
        background: #5F392D;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#301d17), to(#5f392d)); }
      #header .colours-holder ul.colours li.yellow a:hover {
        background: #E5D81C;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7b740f), to(#e5d81c)); }
      #header .colours-holder ul.colours li.orange a:hover {
        background: #CB4A0B;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#712906), to(#cb4a0b)); }
      #header .colours-holder ul.colours li.red a:hover {
        background: #B10D01;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#670700), to(#b10d01)); }
      #header .colours-holder ul.colours li.pink a:hover {
        background: #D557AA;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6b2b59), to(#d557aa)); }
      #header .colours-holder ul.colours li.purple a:hover {
        background: #993399;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#431645), to(#993399)); }
      #header .colours-holder ul.colours li.blue a:hover {
        background: #1F4AA2;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0b1f49), to(#1f4aa2)); }
      #header .colours-holder ul.colours li.green a:hover {
        background: #0AA224;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#044910), to(#0aa224)); }

/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
			WALLPAPER
		++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#content {
  width: 100%;
  margin: 0 0 70px 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px; }
  #content .post {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0 0 130px 0; }
    #content .post .display, #content .post .ipad, #content .post .iphone {
      position: relative;
      float: left; }
      #content .post .display .image, #content .post .ipad .image, #content .post .iphone .image {
        position: absolute;
        background-repeat: no-repeat;
        background-position: center center; }
    #content .post .display {
      width: 550px;
      height: 502px;
      margin: 0 55px 0 0;
      background: url(display.png); }
      #content .post .display .image {
        width: 497px;
        height: 312px;
        top: 27px;
        left: 27px;
        background-size: 600px; }
    #content .post .ipad {
      width: 231px;
      height: 300px;
      margin: 15px 55px 0 0;
      background: url(ipad.png); }
      #content .post .ipad .image {
        width: 183px;
        height: 245px;
        top: 28px;
        left: 24px; }
    #content .post .iphone {
      width: 112px;
      height: 220px;
      margin: 50px 0 0 0;
      background: url(iphone.png); }
      #content .post .iphone .image {
        width: 98px;
        height: 148px;
        top: 37px;
        left: 8px; }
    #content .post a.link {
      display: block; }
    #content .post .meta {
      position: absolute;
      bottom: 55px;
      right: 0;
      text-align: right; }
      #content .post .meta a {
        color: #333; }
      #content .post .meta .permalink {
        display: inline-block;
        width: 18px;
        height: 20px;
        color: #999;
        background: #666;
        border: 1px solid #666;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 0 3px 4px 3px;
        margin: 0 7px 0 0;
        font-family: Georgia, Times, serif;
        font-size: 20px; }
        #content .post .meta .permalink:hover {
          color: #FFF;
          background: #444;
          border: 1px solid #444; }
      #content .post .meta .attribution {
        display: inline-block;
        margin: 0 30px 0 0; }
        #content .post .meta .attribution p {
          display: inline;
          font-size: 16px; }
        #content .post .meta .attribution a:hover {
          border-bottom: 1px solid #000; }
      #content .post .meta .more {
        color: #666; }
        #content .post .meta .more a {
          font-family: Consolas, Menlo, Monaco, Courier, monospace;
          font-weight: normal;
          font-size: 13px;
          color: #000;
          background: #B3B3B3;
          border: 1px solid #B3B3B3;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 8px;
          padding: 1px 6px;
          margin: 0 0 0 3px;
          text-shadow: #bbb 0 1px 0; }
          #content .post .meta .more a:hover {
            background: #999;
            border: 1px solid #999;
            color: #000; }

/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
			NAVIGATION
		++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#navigation {
  width: 100%;
  overflow: hidden;
  margin-bottom: 120px; }
  #navigation a {
    float: left;
    background: #666;
    font-size: 18px;
    text-transform: uppercase;
    padding: 8px 10px;
    border: 1px solid #666;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    line-height: 1em;
    color: #CCC; }
    #navigation a:hover {
      background: #555;
      border: 1px solid #555; }
  #navigation #nav-newer {
    margin-left: 50px; }

/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
			TEXT POST for the SUBMIT PAGE
		++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.text {
  width: 100%;
  overflow: hidden; }

.text h2 {
  font-family: Helvetica, Arial, serif;
  font-weight: bold;
  font-size: 22px;
  margin: 0 0 10px 0; }

.text p {
  font-size: 14px;
  line-height: 1.6em;
  margin: 0 0 20px 0; }

/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
			NOTES
		++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.notes {
  clear: left;
  line-height: 1.5em;
  font-size: 13px;
  margin: 20px 0 50px 0;
  color: #464646;
  opacity: 0.9; }

.notes:hover {
  opacity: 1; }

.notes li {
  margin: 0 0 10px 0; }

.notes a {
  color: #004080; }

.notes a:hover {
  border-bottom: 1px solid #004080; }

.notes img {
  border: 1px solid #000;
  position: relative;
  top: 5px; }

.notes blockquote {
  margin: 10px 0 0 25px;
  border-left: 1px solid #BABABA;
  padding: 0 0 0 10px;
  font-style: italic;
  color: #828282; }

.notes blockquote a {
  color: #3B7CB6; }

.notes blockquote a:hover {
  border-bottom: 1px solid #3B7CB6; }

/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
			FOOTER
		++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#footer {
  display: none;
  font-size: 16px;
  text-shadow: #fff 1px 1px 0;
  color: #111;
  width: 500px;
  float: left; }
  #footer a {
    font-size: 18px;
    font-family: 'Chunk', Georgia, Times, serif;
    text-transform: uppercase; }
